.reader-container {
  background-color: black;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reader-container img {
  display: block;
  width: 100vw;
  max-width: 720px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
.scroll-container {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

body {
  overscroll-behavior: none;
}
